In [46]:
import pandas as pd

data = pd.read_csv('/Users/adhamzyeafer/Downloads/customer_data.csv')

In [48]:
#2.
data.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [50]:
#3.
data.shape

(30000, 20)

In [52]:
#4.
data.agg(max_age=('age', 'max'), 
      min_age=('age', 'min'),
      mean_age=('age', 'mean'))

                age
max_age   65.000000
min_age   18.000000
mean_age  41.550067

In [54]:
#5.
data['customer_full_name']=data['first'] + " " + data['last']
data.value_counts('customer_full_name').reset_index().head(3)

  customer_full_name  count
0     Henrietta Luna      4
1        Sara Graves      3
2        Louise Reed      3

In [62]:
#6.
duplicate=data.value_counts('phone').reset_index()[data.value_counts('phone').reset_index()['count']>1]['phone'].item()
data.loc[data['phone']==duplicate]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,customer_full_name
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,...,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985,Lilly Tyler
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,...,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950,Peter Cain

In [64]:
#7.
len(data[data['profession']=="Structural Engineer"])

87

In [66]:
#8.
len(data[data['profession']=="Structural Engineer"].loc[data[data['profession']=="Structural Engineer"]['gender']=="Male" ,:])

43

In [68]:
#9.
data.loc[(data['profession']=="Structural Engineer") & (data['province']=="AB") & (data['gender']=="Female")]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,customer_full_name
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,...,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903,Roy Stanley
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,...,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028,Lora Kennedy
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,...,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951,Nell Richards
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,...,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989,Don McDaniel

In [70]:
#10. 
data.agg(max=('price(CAD)', 'max'), 
      min=('price(CAD)', 'min'),
      average=('price(CAD)', 'mean'))

         price(CAD)
max      100.000000
min        0.000000
average   49.990775

In [72]:
#11. 
data[data['price(CAD)']==0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,customer_full_name
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,...,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900,Bruce Bryan
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,...,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904,Flora Clark

In [74]:
#12.
data[data['price(CAD)']>=100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,customer_full_name
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063,Gregory Brown
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,...,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955,Cody Christensen
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,...,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983,Lizzie Dixon

In [76]:
#13. 
len(data[data['cc_no']==5020000000000230]['email'].unique())

2

In [78]:
#14.
len(data[data['cc_exp'].str.endswith('2019')])

2684

In [80]:
#15.
len(data[data['cc_type']=='Visa'])

1721

In [82]:
#16.
data[(data['cc_type']=='Visa') & (data['price(CAD)']==100)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,customer_full_name
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063,Gregory Brown

In [84]:
#17.
data.value_counts('profession').head(2).to_frame()

                      count
profession
Preschool Teacher       112
Distribution Manager    107

In [86]:
#18. 
data['email'].str.split("@", expand=True)[1].value_counts().head(5).to_frame()

             count
1
gmail.com     1687
me.com        1676
outlook.com   1664
live.com      1660
hotmail.com   1659

In [88]:
#19. 
data[data['email'].str.endswith("am.edu")]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,customer_full_name
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066,Loretta Fletcher

In [90]:
#20.
data.value_counts('weekday').head(1).reset_index()['weekday'].tolist()

['Saturday']